@import 'module/var';
@import 'module/fonts';
@import 'module/mixins';

.tabs{
    background-color:rgba(245, 245, 245, 1);
    @include paddingLR($paddingLeft+45px,$paddingRight+45px);
    @include paddingTB($paddingTop+100px,$paddingBottom+100px);
}

.nav-pills .nav-link {
     border-radius: 0; 
}

.nav-pills{
    display: inline;
}
.nav-pills{
    border-radius: 0px;
}
.special{
    background-color:$colorP;
}

.tab{
    color:white;
    font-family: 'Open Sans Bold', 'Open Sans Regular', 'Open Sans';
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    border-color: azure;
    background-color: black;
    width: 110px;
    height: 110px;
    padding-top: 45px;
    padding-left: 35px;
    border-radius: 2px;
}
.tabsMainDiv{
    display: flex;
}
.TabsRight{
    display: flex;
}

.secTabsContent{
   @include marginLR(170px,50px);
   @include marginTB(15px,30px);
   width: 482px;
   height: 300px;
}

.tabsContentTitle{
    font-family: 'Open Sans Bold', 'Open Sans Regular', 'Open Sans';
    font-weight: 700;
    font-style: normal;
    font-size:$fontSizeMed;
}
.tabLine{
    background-color: $colorP;
    @include marginTB(25px,25px);
    width:62px;
    height:2px;
}
.parag1{
    font-family: 'Open Sans Regular', 'Open Sans';
    font-weight: 400;
    text-align: left;
    font-style: normal;
    font-size: 14px;
    color: #86878B;
    line-height: 20px;
}
.parag2{
    font-family: 'Open Sans Regular', 'Open Sans';
    font-weight: 400;
    text-align: left;
    font-style: normal;
    font-size: 14px;
    color: #86878B;
    line-height: 20px;
    @include marginTB(25px,35px);
}
.tabsbtn{
    width: 145px;
    height:49px;
    font-family: 'Open Sans Semibold', 'Open Sans Regular', 'Open Sans';
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    color: white;
}

@media  (max-width:1260px) {

    .secTabsContent{
        @include marginLR(100px,30px);
        @include marginTB(15px,30px);
        width: 450px;
        height: 300px;
     }
  
  }
  @media  (max-width:1120px) {

    .secTabsContent{
        @include marginLR(80px,25px);
        
     }


     .tabs{
        @include paddingLR($paddingLeft+20px,$paddingRight+20px);
        @include paddingTB($paddingTop+100px,$paddingBottom+100px);
     }

  .tImg{
      width:290px;
  }
  }
  @media  (max-width:998px) {

    .secTabsContent{
        @include marginLR(80px,25px);
        
     }


     .tabs{
        @include paddingLR(25px,25px);
        @include paddingTB($paddingTop+30px,$paddingBottom+50px);
     }

 
  .TabsImg{
      margin-top:15px;
    display: table;
    margin: 0 auto;
  }
  .TabsRight{
      flex-wrap: wrap;
  }
  .tabsbtn{
    display: table;
    margin: 0 auto;
    margin-top: 20px;
  }

  }
  @media  (max-width:764px) {

    .secTabsContent{
        @include marginLR(35px,25px);
        
     }


     .tabs{
        @include paddingLR(15px,15px);
        @include paddingTB($paddingTop+25px,$paddingBottom+50px);
     }

  
  }
  @media  (max-width:674px) {

    .secTabsContent{
        @include marginLR(24px,5px);
        
     }


     .tabs{
        @include paddingLR(5px,5px);
        @include paddingTB($paddingTop+15px,$paddingBottom+50px);
     }

  
  }
  @media  (max-width:600px) {

    .tab{
    width: 80px;
    height: 85px;
    padding-top: 24px;
    padding-left: 12px;
    }

    .secTabsContent{
        margin-bottom: -20px;    
     }
      
     .tImg {
        width: 220px;
    }


     .tabs{
        @include paddingLR(2px,2px);
        @include paddingTB($paddingTop,0px);
     }

  
  .nav-pills{
      height: 190px;
  }
  }
  @media  (max-width:598px) {

    .tabsContentTitle{
        font-size:15px;
    }
    .tabLine{
        width: 50px;
        @include marginTB(7px,0px);
    }
    .parag1{
        font-size: 13px;
    }
    .parag2{
        @include marginTB(10px,10px);
        font-size: 13px;
    }
  }
  @media  (max-width:570px) {

    .secTabsContent{
        width: 428px;
    }
  
  }
  @media  (max-width:542px) {

    .secTabsContent{
        width: 328px;
    }
    .TabsImg{
        margin-top: 15px;
        margin-bottom: 15px;
    }
  
  }
  @media  (max-width:448px) {

    .secTabsContent{
        width: 290px;
    }
     
    .TabsImg{
        margin-top: 25px;
        margin-bottom: 15px;
    }

  }
  @media  (max-width:400px) {

    .secTabsContent{
        width: 255px;
    }
     
    .TabsImg{
        margin-top: 45px;
        margin-bottom: 15px;
    }

  }
  @media  (max-width:376px) {

    .secTabsContent{
        width: 200px;
    }
     .tImg{
         width: 200px;
     }
    .TabsImg{
        margin-top: 150px;
        margin-bottom: 15px;
    }

  }